[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
pytz = "*"
pillow = "*"
djangorestframework = "*"
django-filter = "*"
gunicorn = "*"
django-environ = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
django-basicauth = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
